/* Interactive Button Styling */
.main-btn {
  font-size: 1.25rem;
  background: #dba054;
  padding: 14px 32px;
  border: none;
  color: #4d3c1a;
  margin-top: 2rem;
  border-radius: 50px;
  position: relative;
  transition: all 0.75s;
  outline: none;
}

.main-btn a {
  text-decoration: none;
  color: #dad7cd;
  position: relative;
  z-index: 2;
}

.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #7d683c;
  transition: all 0.35s;
  border-radius: 70px;
}

.main-btn:hover {
  color: #dad7cd;
}

.main-btn:hover:after {
  width: 100%;
}
