/* To Do List Styling
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* Containers */
.list-container {
  width: 60%;
  margin: auto;
  padding-top: 5rem;
}

.search-container {
  width: 50%;
  margin: auto;
  padding-bottom: 3rem;
}

.todoitem-container {
  align-items: center;
  align-self: center;
  text-align: center;
}

/* .todo-container {
  font-family: "Manrope", sans-serif !important;
} */

/* Remove margins and padding from the list */
.todo-ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.todo-ul .todo-li {
  cursor: crosshair;
  position: relative;
  padding: 0.75rem;
  background: #a3b18a;
  font-size: 18px;
  transition: 0.2s;
  display: inline-block;
  width: 70%;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style-type: none;
}

.todo-li:last-child {
  margin-bottom: 6rem;
}

/* Set all odd list items to a different color (zebra-stripes) */
.todo-ul li:nth-child(odd) {
  background: #90a66a;
}

/* Darker background-color on hover */
.todo-ul li:hover {
  background: #78904f;
}

/* When clicked on, add a background color and strike out text */
.todo-ul .todo-li.checked {
  background: #4b7f52;
  color: #dad7cd;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.todo-ul .todo-li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the remove button */
.remove {
  position: absolute;
  padding: 0.83rem;
  background: #90a66a;
}

.remove:hover {
  background-color: #344e41;
  color: #dad7cd;
}

/* Style the header */
.todo-header {
  background-color: #344e41;
  padding: 30px 40px;
  color: #dad7cd;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.todo-input {
  margin: 0;
  border: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  height: 3rem;
  background: #dad7cd;
}

/* Style the "Add" button */
.addBtn {
  display: inline-flex;
  padding: 10px;
  width: 25%;
  background: #a3b18a;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  height: 3rem;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.addBtn:hover {
  background-color: #bbb;
}
