/* Navbar Styling */
.navbar {
  background: #141d16;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  /* opacity: 0.93; */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-logo {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  object-fit: fill;
  height: 80px;
}

/* Old text based logo */
/* #navbar-logo {
    background-color: #7dd181;
    background-image: linear-gradient(to top, #96e8bc 0%, #397957 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  } */

.fa-guitar {
  margin-right: 0.5rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #fde7ca;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  white-space: nowrap;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #4e4c30;
  color: #fde7ca;
  white-space: nowrap;
  overflow: hidden;
}

.signup-btn:hover {
  background: #1f3b2c;
  transition: all 0.6s ease;
}

.navbar-links:hover {
  color: #729583;
  transition: all 0.4s ease;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -10000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar-menu.active {
    background: #12261b;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    color: #fde7ca;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-btn {
    padding-bottom: 2rem;
  }

  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.5s ease-in-out;
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
}
