/* Carousel Styling */
.carousel {
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  box-sizing: border-box;
}

.inner {
  transition: transform 0.3s;
  white-space: nowrap;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 76, 43);
  color: #fde7ca;
  width: 100%;
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Button Styling */
button {
  border-radius: 100px;
  border: none;
  padding: 0.5rem;
  background-color: #607744;
  font-size: 20px;
  margin: 0.5rem;
}

button:hover {
  background-color: #4a5c32;
  transition: 0.5s ease-in;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.indicators {
  display: inline-block;
}

.indicators > button.active {
  background-color: #b8e088;
}

.prev {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  width: 7rem;
  align-self: left;
}

.next {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  width: 7rem;
  float: right;
  white-space: nowrap;
  overflow-x: auto;
}

.progress {
  width: 7px;
  height: 7px;
  margin-top: 1.5rem;
  display: inline-block;
}

/* Carousel item backgrounds */
.first {
  /* Deployed version of netlify did not like the local assets for the carousel so have replaced with online images */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(hero1.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1541447554742-4b7eff548fe1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80");
  background-position-y: 70%;
  /* background-size: contain; */
}

.second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1593697972672-b1c1902219e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80");
  /* background-size: auto; */
}

.third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1518190171695-bbbb69c4a901?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80");
  /* background-size: contain; */
}

/* Text Styling */
.carousel-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  display: block; /* Force the title to be a block element */
  margin-bottom: 0.5rem; /* Add margin-bottom to create space between title and caption */
}

.carousel-caption {
  text-align: center;
  display: block; /* Force the caption to be a block element */
}

.carousel-text {
  align-items: center;
  text-align: center;
}
