/* Accordion Styling */
.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion:last-child {
  margin-bottom: 6rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #607744;
  color: #fde7ca;
}

.accordion-title:hover {
  background-color: #364621;
  transition: all 0.9s ease;
}

/* Style 1 - Square */
/* .accordion-title,
  .accordion-content {
    padding: 2rem;
  } */

/* Style 2 - Rounded */
.accordion-title,
.accordion-content {
  padding: 2rem;
  border-radius: 2.5rem;
  margin-bottom: 1rem;
}

/* .accordion-title:first-child {
    border-radius: 50px 0 0 0;
  }
  
  .accordion-title:last-child {
  
  } */

.accordion-content {
  background-color: #8a8b4a;
  color: #fde7ca;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
