/* Accordion Styling */
.accordion {
  max-width: 42rem;
  margin: 2rem auto;
  font-size: 1.25rem;
  font-weight: 400;
}

.accordion:last-child {
  margin-bottom: 6rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #607744;
  color: #fde7ca;
  font-size: 1.5rem;
  font-weight: 600;
}

.accordion-title:hover {
  background-color: #364621;
  transition: all 0.9s ease;
}

/* Style 1 - Square */
/* .accordion-title,
  .accordion-content {
    padding: 2rem;
  } */

/* Style 2 - Rounded */
.accordion-title,
.accordion-content {
  padding: 2rem;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.accordion-content {
  background-color: #8a8b4a;
  color: #fde7ca;
}

@media screen and (max-width: 700px) {
  .accordion {
    width: 90%;
    /* font-size: 1.25rem; */
  }
}
